@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Inter&family=Manrope&display=swap');

@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: NotoSerif-Regular;
    src: url("../fonts/Noto_Sans/NotoSerif-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Philosopher;
    src: url("../fonts/Philosopher/Philosopher-Regular.ttf");
    font-weight: normal;
}